/*@import url(../fonts/AguafinaScript-Regular/AguafinaScript-Regular.ttf);*/

@font-face {
    font-family: 'Open Sans';
    src: local('OpenSans-Regular'), url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#designer {
    background-color: #333333;
    color: ghostwhite;
    padding: 5px;
}

#designer > input {
    margin-left: 3px;
    margin-right: 10px;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}

#canvasContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

#editorOverlay  {
  position: absolute;
  opacity: 0.9;
  background-color: lightgray;
  padding: 1px;
  border: 1px solid gray;
}

#editorOverlay textarea {
    resize: none;
    width: 200px;
    height: 90%;
}

.text-block-editor {
    height: 50px;
}

.text-block-editor > * {
    vertical-align: top;
}

.text-block-editor > .sp-replacer {
    margin-top: 7px;
}
