@font-face {
    font-family: 'Open Sans';
    src: local('OpenSans-Regular'), url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

/* Global */

html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


/* Bootstrap customizations */

ul.dropdown-menu > li {
    cursor: pointer;
}

/* Editor */

.font-color-icon {
    font-weight: bold;
}

.font-color-icon {
    font-weight: bold;
    padding: 4px;
    border: 1px gray solid;
    border-radius: 3px;
    display: inline-block;
}

.fore {
    background-color: white;
    color: steelblue;
}

.back {
    background-color: steelblue;
    color: white;
}

#designer {
    background-color: #333333;
    padding: 5px;
}

#designer > * {
    display: inline-block;
    margin: 3px 5px;
}

#designer > label {
    color: ghostwhite;
}

#designer > input {
    margin-left: 3px;
    margin-right: 10px;
}

#designer > #rightSide {
    float: right;
    margin: 6px;
}

#designer #user-message {
    color: lightgray;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}

#canvasContainer > canvas {
    background-color: white;
}

#canvasContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

#editorOverlay  {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.9;
  background-color: #eeeeee;
  padding: 1px;
  border: 1px solid gray;
}

#editorOverlay textarea {
    resize: none;
    width: 200px;
    height: 100%;
}

.text-block-editor {
    max-width: 400px;
    overflow-x: visible;
    overflow-y: visible;
}

.text-block-editor > * {
    vertical-align: top;
}

.text-block-editor > input, 
.text-block-editor > button,
.text-block-editor > div, 
.text-block-editor > textarea
{
    display: inline-block;
    margin: 3px;
}

.text-block-editor .end-controls {
    float: right;
}

.delete-textblock  {
    padding: 4px 6px;
}

.font-picker > div.family-picker,
.font-picker > div.variant-picker {
    width: 350px !important;
}

.font-picker .font-family {
    width: 350px;
}

.font-picker .font-variant {
    width: 350px;
}

.font-picker .Select-control {
    height: 60px;
}
