
ul.chooser {
    list-style-type: none;
}

ul.chooser img {
  float: left;
  padding: 5px;
  margin: 10px;
  border: 2px solid lightgray;
}

.chooser img:hover {
}

.chooser .choice {
    display: inline-block;
    min-width: 80px;
    min-height: 40px;
    margin: 8px;
    border: 2px solid lightgray;
    cursor: pointer; 
}

.chooser .chosen {
    border-color: darkred;
}

#templateControls {
    margin: 10px;
}

#templateControls input {
    width: 300px;
    margin: 6px;
}

#previewCanvasContainer {
    display: inline-block;
}
