#pageContainer {
    display: flex;
    flex: 1;
    height: 100%;
}

#templateControls {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    overflow-y: scroll;
    font-size: 16px;
}

#previewCanvasContainer {
    flex: 1;
    min-width: 400px;
}

#previewCanvas {
    width: 100%;
    height: 80%;
    max-height: 1000px;
    max-width: 1000px;
    margin: 10px;
}

#templateControls input,
#templateControls textarea {
    margin: 6px;
    font-size: 24px;
}

#templateControls textarea {
    width: 500px;
    resize: none;
}

ul, menu, dir {
    -webkit-padding-start: inherit;
}

ul.chooser {
    list-style-type: none;
}

ul.chooser img {
  float: left;
  padding: 5px;
  margin: 10px;
  border: 3px solid lightgray;
}

.chooser img:hover {
}

.chooser {
    display: flex;
    flex-wrap: wrap;
}

.chooser .choice {
    /*flex-basis: content;*/
    
    font-size: 30px;
    line-height: 50px;

    margin: 2px 4px;
    padding: 0 8px;
    border: 2px solid lightgray;

    cursor: pointer; 
}

.fontChooser .chooser .choice {
    font-variant: small-caps;
    font-weight: bold;
}

.fontChooser .chooser .choice span {
    /*vertical-align: middle;*/
}

.chooser .chosen {
    border-color: darkred;
}

.colorChooser .choice {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.paletteTile {
    width: 50px;
    height: 50px;
    margin: 0;
}
