
ul.chooser {
    list-style-type: none;
}

ul.chooser img {
  float: left;
  padding: 5px;
  margin: 10px;
  border: 2px solid lightgray;
}

.chooser img:hover {
}

.chooser {
    display: flex;
    flex-wrap: wrap;
}

.chooser .choice {
    font-size: 30px;
    line-height: 50px;
    
    /*width: 100px;
    height: 60px;*/

    /*align-items: center;
    margin: 8px;
    padding: 6px 6px; */

    margin: 2px 4px;
    padding: 0 8px;

    border: 2px solid lightgray;
    cursor: pointer; 
}

.fontChooser .chooser .choice {
    font-variant: small-caps;
    font-weight: bold;
}

.fontChooser .chooser .choice span {
    /*vertical-align: middle;*/
}

.chooser .chosen {
    border-color: darkred;
}

#templateControls {
    margin: 10px;
}

#templateControls input {
    width: 300px;
    margin: 6px;
}

#previewCanvasContainer {
    display: inline-block;
}
